{% extends "monitor/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Node List
{% endblock %}

{% block web-body %}
  <h1>Node List</h1>
  <div id="devices">
    <div class = "row row-cols-6">
      {% for node in nodeList %}
        <div class="col-md-2 mb-md-2">
          {% if node.status == 'X' %} 
            <div class="card bg-dark text-white">
          {% else %}
            <div class="card bg-success">
          {% endif %}
            <div class="card-header">
              {% if node.status == 'X' %}
                <a href="{% url 'monitor:node_detail' node.id %}" class="stretched-link text-white">{{node.nodeID}}</a>
              {% else %}
                <a href="{% url 'monitor:node_detail' node.id %}" class="stretched-link text-body">{{node.nodeID}}</a>
              {% endif %}
            </div>
            
            <div class="card-body">
              {% if node.descr %} {{node.descr }} <br> {% endif %}
              {% if node.battLevel %}Current battery value: {{node.battLevel}}<br>{% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}