{% extends "monitor/webbase.html" %}

{% block title %}
Node Details
{% endblock %}

{% block web-body %}
  <div id="logged_on_user">
    Logged in as {{ user.username }}
  </div>
  <div id="node-header"><h2>Information currently held for <b>{{ node.nodeID }}</b></h2></div>
    <table>
      <tr><th>Node ID:</th>                   <th>{{ node.nodeID }}</th></tr>
      <tr><td>Description:</td>               <td>{{ node.descr }}</td></tr>
      <tr><td>Current status:</td>            <td>{{ node.textStatus }}</td></tr>
      <tr><td>Specific node topic:</td>       <td>{{ node.topic }}</td></tr>
      <tr><td>Last seen at:</td>              <td>{{ node.lastseen }}</td></tr>
      <tr><td>Last data:</td>                 <td>{{ node.lastData }}</td></tr>
      <tr><td>Minutes down time allowed:</td> <td>{{ node.allowedDowntime }}</td></tr>
      <tr><td>Signal strength:</td>           <td>{{ node.RSSI }}</td></tr>
      {% if node.battName %}
        <tr><th>Battery details:</th></tr>
        <tr><td>Battery name:</td>            <td>{{ node.battName }}</td></tr>
        <tr><td>Last battery level:</td>      <td>{{ node.battLevel }}</td></tr>
        <tr><td>Warning battery level:</td>   <td>{{ node.battWarn }}</td></tr>
        <tr><td>Critical battery level:</td>  <td>{{ node.battCritical }}</td></tr>
      {% endif %}
      {% if node.status == 'X' %}
        <div id="node_det_button" class="action_button">
          <a href="{% url 'monitor:node_remove' node.id %}" class="btn btn-danger" role="button">Remove</a>
        </div>
      {% endif %}
    </table>
    {% if node.entity_set.all %}
      <table>
        <tr>
          <th>Name</th>
          <th>Domain</th>
          <th>State</th>
        </tr>
        {% for e in node.entity_set.all %}
          <tr>
            <td>{{ e.json_key }}</td>
            <td>{{ e.domain.name }}</td>
            {% if e.text_state %}
              <td>{{ e.text_state }}</td>
            {% else %}
              <td>{{ e.num_state }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  <a href="{% url 'monitor:node_update' node.id %}" class="btn btn-info" role="button">Update details</a>
  <button onclick="window.location.href = '{% url 'monitor:index' %}';">Main menu</button>

{% endblock %}